h1 {
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    font-family: Arial;

}
#auctiondata {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#auctiondata td, #auctiondata th {
    padding: 8px;
}

#auctiondata tr {
    border-bottom: 1px solid #46BAD1;
    text-align: left;
}

#auctiondata tr:nth-child(even){background-color: #f2f2f2;}

#auctiondata tr:hover {background-color: #c1bdbd;}

#auctiondata th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #46BAD1;
    color: white;
}

.buttonForm {
    float: left;
    display: inline-block;
}

.heading {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 2em;
    item-allign: center;
}

label {
    font-family: Arial;
    font-size: 12pt;
    float: left
}

.return {

}

h4 {
    padding:-25pt;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
}

.inputForm {
    width: 100%;
    padding: 12px 20px;
    margin: -6px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: gainsboro;
    border-style: solid;
    border-width:1px;
    font-size: 12pt;
    font-family: Arial;
}

.logo {
    padding-top: 50px;
    padding-bottom: 25px;
    border-radius: 4px;
}

form {
    margin: auto;
    width:250px;
}

body {
    text-align: center;
    background-color: gainsboro;
}

.submitButton {
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 13pt 2pt;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #021e4a;
    color: white;
}

.submitButton:hover {
    background-color: #46BAD1;
    color: white;
}

p {
    font-size: 10pt;
    font-family: Arial;
}

.endingLink {
    margin-top: 25px;
    margin-bottom: 100px;
}

.backButton {
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 13pt 2pt;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #021e4a;
    color: white;
}

.backButton:hover {
    background-color: #46BAD1;
    color: white;
}

.createAuctionButton {
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 13pt 2pt;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #021e4a;
    color: white;
}

.createAuctionButton:hover {
    background-color: #46BAD1;
    color: white;
}

/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
